
name: Lint & Test

# CINTENT >> MANUAL_TRIGGER
# on:
#   pull_request:
#     branches:
#     - main
#     - develop*
#   push:
#     branches:
#     - main
#     - develop*
on: [repository_dispatch, workflow_dispatch]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  INFINIGEN_INSTALL_TERRAIN: False
  INFINIGEN_INSTALL_CUSTOMGT: False

jobs:

  checks:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Lint with ruff
        # CINTENT >> IGNORE_ERROR
        continue-on-error: true
        run: |
          pip install ruff
          # stop the build if there are Python syntax errors or undefined names
          ruff check --output-format=github --select=E9,F63,F7,F82 .
          # default set of ruff rules with GitHub Annotations
          ruff check --output-format=github .

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      # CINTENT >> INSERT_CINTENT
      - uses: JavidDitty/setup-cintent@3e5b2faf83a2ad32c22a1cd0f86f5f20ea53a5ab

      - name: Install infinigen & dependencies
        run: |
          pip install ".[dev]"

      - name: Test with pytest
        run: |
          pytest tests -k 'not skip_for_ci'

      - name: Check for copyright statements
        run: |
          ruff check --output-format=github --preview --select CPY001 .

      # CINTENT >> INSERT_CINTENT
      - name: Upload CIntent Artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ${{ env.CINTENT_ARTIFACT_NAME }}
          path: ${{ env.CINTENT_LOGS }}
